/********* Main CSS ***********/

body{font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'myriad pro', 'myriad web pro', 'myriad web', myriad, helvetica, sans-serif;}

.page-wrap{width:960px; margin: 0 auto; -moz-border-radius: 5px; border-radius: 5px; border:1px solid #e3e3e3;}

.header{margin:1em; border-bottom: 1px solid #e3e3e3;}

.container{margin:1em; border-bottom: 1px solid #e3e3e3;}

.footer{margin:1em;}